{% extends "layout.html" %}
{% block head %}
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Login as</h1>
  <a href="/educator">
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Educator</button>
  </a>
  <a href="/student">
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Student</button>
  </a>
</header>
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Forgot your booking details?</h1>
  <a href="/find_booking">
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Click here</button>
  </a>
</header>
{% endblock %}
{% block content %}
 {% endblock %}